<h1>ユーザの詳細</h1>

<div>
  <p>
    <strong>Eメール:</strong>
    <%= @user.email %>
  </p>
</div>

<nav>
  <% if current_user == @user %>
    <%= link_to 'このユーザを編集', edit_user_registration_path %> |
  <% end %>
  <%= link_to 'ユーザの一覧に戻る', users_path %>
</nav>
